@import 'sprite.scss';
$width:100px;

body {
  h1 {
    text-align: center;
    color: red;
    width: $width;
    @at-root {
      .name {
        &:before {
          content: "";
          display:inline-block;
          @include sprite($a);
        } // transform: rotate(50deg);
        background: red;
      }
    }
  }
}