// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$a-name: 'a';
$a-x: 37px;
$a-y: 0px;
$a-offset-x: -37px;
$a-offset-y: 0px;
$a-width: 16px;
$a-height: 16px;
$a-total-width: 53px;
$a-total-height: 32px;
$a-image: '../img/sprite.png';
$a: (37px, 0px, -37px, 0px, 16px, 16px, 53px, 32px, '../img/sprite.png', 'a', );
$b-name: 'b';
$b-x: 0px;
$b-y: 0px;
$b-offset-x: 0px;
$b-offset-y: 0px;
$b-width: 32px;
$b-height: 32px;
$b-total-width: 53px;
$b-total-height: 32px;
$b-image: '../img/sprite.png';
$b: (0px, 0px, 0px, 0px, 32px, 32px, 53px, 32px, '../img/sprite.png', 'b', );
$spritesheet-width: 53px;
$spritesheet-height: 32px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($a, $b, );
$spritesheet: (53px, 32px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
